// Place test environment credentials here to be used in automated tests.
ISSUER_DOMAIN = 
CLIENT_ID = 
REDIRECT_URI = 

// User credentials for passcode scenarios
PASSCODE_USERNAME = 
PASSCODE_PASSWORD = 

// User credentials for MFA Okta Sign-on Policy scenarios
MFASOP_USERNAME = 
MFASOP_PASSWORD = 
