// Place test environment credentials here to be used in automated tests.
ISSUER_DOMAIN = 
CLIENT_ID = 
REDIRECT_URI = 
SCOPES = openid profile offline_access email

// API keys to connect to, and configure, a test org
OKTA_API_KEY = 
OKTA_DOMAIN = 
A18N_API_KEY = 

// Username and password used for social auth tests
SOCIAL_AUTH_USERNAME = 
SOCIAL_AUTH_PASSWORD = 

