name: Deploy Documentation

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DEVELOPER_DIR: /Applications/Xcode_13.3.app/Contents/Developer

# NOTE: The DocC `generate-documentation` plugin does not handle the 
#       hostingBasePath well. In particular, it doesn't properly handle
#       multiple child paths. Furthermore, the current 1.0.0 version of
#       the plugin doesn't handle updates to the index.html or *.js
#       files.
#
#       This workflow should be revisited once Xcode 14 GA is released
#       so the newer DocC utilities can be utilized.
jobs:
  ExportToGHPages:
    name: Export to Github Pages
    runs-on: macos-12
    steps:
    - uses: actions/checkout@master
    - name: Prepare directory
      run: |
        mkdir -p docs/development
        mkdir -p .build/symbol-graphs
    - name: Build Symbol Graphs
      run: |
        swift build \
            --target AuthFoundation \
            --target OktaOAuth2 \
            --target WebAuthenticationUI \
            -Xswiftc -emit-symbol-graph -Xswiftc -emit-symbol-graph -Xswiftc -emit-symbol-graph-dir -Xswiftc .build/symbol-graphs
        export DOCC_JSON_PRETTYPRINT=YES
    - name: Generate Documentation
      run: |
        set +e
        VERSION=$(git describe --tags 2>/dev/null)
        if [[ $? -ne 0 ]]; then
            VERSION=development
        fi
        set -e

        for TARGET in AuthFoundation OktaOAuth2 WebAuthenticationUI; do
            NAME=$(echo "$TARGET" | tr '[:upper:]' '[:lower:]')

            xcrun docc convert \
                Sources/$TARGET/$TARGET.docc \
                --enable-inherited-docs \
                --output-path $TARGET.doccarchive \
                --fallback-display-name $TARGET \
                --fallback-bundle-identifier com.okta.mobile.$NAME \
                --fallback-bundle-version $VERSION \
                --additional-symbol-graph-dir .build/symbol-graphs
        done

        mkdir -p docs/$VERSION
        for TARGET in AuthFoundation OktaOAuth2 WebAuthenticationUI; do
            NAME=$(echo "$TARGET" | tr '[:upper:]' '[:lower:]')

            $(xcrun --find docc) process-archive transform-for-static-hosting \
                $TARGET.doccarchive \
                --hosting-base-path okta-mobile-swift/$VERSION/$NAME \
                --output-path docs/$VERSION/$NAME
            sed -I -e "s#<head>#<head><meta http-equiv='refresh' content='0;url=./documentation/$NAME/'>#" \
                docs/$VERSION/$NAME/index.html
        done
    - name: Deploy documentation to Github Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
        keep_files: false
