name: Package Managers

on:
  push:
    branches:
      - master
      - dev-*
      - release-*
  pull_request:
    branches: 
      - master
      - dev-*
      - release-*

env:
  DEVELOPER_DIR: /Applications/Xcode_13.3.app/Contents/Developer

jobs:
  SwiftBuild:
    name: Swift Package Manager on ${{ matrix.OS }}
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        OS:
          - macos-12
    steps:
    - name: Get swift version
      run: swift --version
    - uses: actions/checkout@master
    - name: Build
      run: swift build --build-tests
    - name: Test
      run: swift test
