name: Tests

on:
  push:
    paths:
      - '.github/workflows/unittests.yml'
      - 'Package.swift'
      - 'Sources/**/*.swift'
      - 'Samples/**/*.swift'
      - 'Tests/**/*.swift'
    branches:
      - master
      - dev-*
      - release-*
  pull_request:
    branches:
      - master
      - dev-*
      - release-*
    paths:
      - '.github/workflows/unittests.yml'
      - 'Package.swift'
      - 'Sources/**/*.swift'
      - 'Samples/**/*.swift'
      - 'Tests/**/*.swift'

env:
  DEVELOPER_DIR: /Applications/Xcode_13.3.app/Contents/Developer

jobs:
  SwiftBuild:
    name: Swift Unit Tests
    runs-on: macos-12
    timeout-minutes: 10
    steps:
    - name: Get swift version
      run: swift --version
    - uses: actions/checkout@master
    - name: Build
      run: swift build --build-tests
    - name: Test
      run: swift test

  XcodeBuild:
    name: Xcode Unit Tests
    runs-on: macos-12
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@master
    - name: Test AuthFoundation
      run: |
        set -o pipefail
        env NSUnbufferedIO=YES xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -resultBundlePath ../TestResults/AuthFoundation.xcresult \
          -scheme AuthFoundation \
          -sdk iphonesimulator \
          -destination "platform=iOS Simulator,OS=latest,name=iPhone 12" | xcpretty
    - name: Test OktaOAuth2
      run: |
        set -o pipefail
        env NSUnbufferedIO=YES xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -resultBundlePath ../TestResults/OktaOAuth2.xcresult \
          -scheme OktaOAuth2 \
          -sdk iphonesimulator \
          -destination "platform=iOS Simulator,OS=latest,name=iPhone 12" | xcpretty
    - name: Test WebAuthenticationUI
      run: |
        set -o pipefail
        env NSUnbufferedIO=YES xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -resultBundlePath ../TestResults/WebAuthenticationUI.xcresult \
          -scheme WebAuthenticationUI \
          -sdk iphonesimulator \
          -destination "platform=iOS Simulator,OS=latest,name=iPhone 12" | xcpretty

  UITest-WebSignIn:
    name: Web Sign In / Single Sign On (iOS)
    runs-on: macos-12
    timeout-minutes: 10
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test Web Sign In
      run: |
        xcodebuild \
            -derivedDataPath ~/Build/DerivedData \
            -clonedSourcePackagesDirPath ~/Build/ClonedSources \
            -resultBundlePath ~/TestResults/WebSignIn-iOS.xcresult \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "WebSignIn (iOS)" \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.4' \
            test
    - name: Test Single Sign In
      run: |
        xcodebuild \
            -derivedDataPath ~/Build/DerivedData \
            -clonedSourcePackagesDirPath ~/Build/ClonedSources \
            -resultBundlePath ~/TestResults/SingleSignOn-iOS.xcresult \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "SingleSignOn (iOS)" \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.4' \
            test
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        path: ~/TestResults/*.xcresult
        name: WebSignIn-iOS-Results
      if: success() || failure()

  UITest-DeviceAuthSignIniOS:
    name: Device Auth Sign In (iOS)
    runs-on: macos-12
    timeout-minutes: 10
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        xcodebuild \
            -derivedDataPath ~/Build/DerivedData \
            -clonedSourcePackagesDirPath ~/Build/ClonedSources \
            -resultBundlePath ~/TestResults/DeviceAuthSignIn-iOS.xcresult \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "DeviceAuthSignIn (iOS)" \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.4' \
            test
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        path: ~/TestResults/*.xcresult
        name: DeviceAuthSignIn-iOS-Results
      if: success() || failure()

  UITest-DeviceAuthSignIntvOS:
    name: Device Auth Sign In (tvOS)
    runs-on: macos-12
    timeout-minutes: 10
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        xcodebuild \
            -derivedDataPath ~/Build/DerivedData \
            -clonedSourcePackagesDirPath ~/Build/ClonedSources \
            -resultBundlePath ~/TestResults/DeviceAuthSignIn-tvOS.xcresult \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "DeviceAuthSignIn (tvOS)" \
            -sdk appletvsimulator \
            -destination 'platform=tvOS Simulator,name=Apple TV,OS=15.4' \
            test
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        path: ~/TestResults/*.xcresult
        name: DeviceAuthSignIn-tvOS-Results
      if: success() || failure()

  UITest-UserPasswordSignInmacOS:
    name: User Password Sign In (macOS)
    runs-on: macos-12
    timeout-minutes: 10
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        xcodebuild \
            -derivedDataPath ~/Build/DerivedData \
            -clonedSourcePackagesDirPath ~/Build/ClonedSources \
            -resultBundlePath ~/TestResults/UserPasswordSignIn-macOS.xcresult \
            -workspace OktaMobileSDK.xcworkspace \
            -sdk macosx \
            -scheme "UserPasswordSignIn (macOS)" \
            build test
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        path: ~/TestResults/*.xcresult
        name: UserPasswordSignIn-macOS-Results
      if: success() || failure()

  UITest-ClassicNativeAuthiOS:
    name: Classic Native Auth (iOS)
    runs-on: macos-12
    timeout-minutes: 10
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        xcodebuild \
            -derivedDataPath ~/Build/DerivedData \
            -clonedSourcePackagesDirPath ~/Build/ClonedSources \
            -resultBundlePath ~/TestResults/ClassicNativeAuth-iOS.xcresult \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "ClassicNativeAuth (iOS)" \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.4' \
            test
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        path: ~/TestResults/*.xcresult
        name: ClassicNativeAuth-iOS-Results
      if: success() || failure()

  Results:
    name: Test Results
    runs-on: macos-12
    timeout-minutes: 5
    needs: 
      - UITest-WebSignIn
      - UITest-DeviceAuthSignIniOS
      - UITest-DeviceAuthSignIntvOS
      - UITest-UserPasswordSignInmacOS
      - UITest-ClassicNativeAuthiOS
    steps:
    - name: Download Test Results
      uses: actions/download-artifact@v2
      with:
        path: ~/work/okta-mobile-swift/TestResults
    - uses: kishikawakatsumi/xcresulttool@v1
      with:
        path: |
          ../TestResults/AuthFoundation.xcresult
          ../TestResults/OktaOAuth2.xcresult
          ../TestResults/WebAuthenticationUI.xcresult
          ../TestResults/DeviceAuthSignIn-iOS-Results/DeviceAuthSignIn-iOS.xcresult
          ../TestResults/WebSignIn-iOS-Results/WebSignIn-iOS.xcresult
          ../TestResults/WebSignIn-iOS-Results/SingleSignOn-iOS.xcresult
          ../TestResults/DeviceAuthSignIn-tvOS-Results/DeviceAuthSignIn-tvOS.xcresult
          ../TestResults/UserPasswordSignIn-macOS-Results/UserPasswordSignIn-macOS.xcresult
          ../TestResults/ClassicNativeAuth-iOS-Results/ClassicNativeAuth-iOS.xcresult
        title: UI Test Results
        show-passed-tests: false
      if: success() || failure()
