name: Tests

on:
  push:
    paths:
      - '.github/workflows/tests.yaml'
      - 'Package.swift'
      - 'Sources/**/*.swift'
      - 'Samples/**/*.swift'
      - 'Tests/**/*.swift'
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/tests.yaml'
      - 'Package.swift'
      - 'Sources/**/*.swift'
      - 'Samples/**/*.swift'
      - 'Tests/**/*.swift'

env:
  DEVELOPER_DIR: /Applications/Xcode_14.2.app/Contents/Developer
  NSUnbufferedIO: YES 
  iOS_DESTINATION: "platform=iOS Simulator,OS=16.2,name=iPhone 14 Pro Max"
  tvOS_DESTINATION: "platform=tvOS Simulator,OS=16.1,name=Apple TV"

jobs:
  SwiftBuild:
    name: Swift Unit Tests
    runs-on: macos-12
    timeout-minutes: 10
    steps:
    - name: Get swift version
      run: swift --version
    - uses: actions/checkout@master
    - name: Build
      run: swift build --build-tests
    - name: Test
      run: swift test --parallel

  XcodeBuild:
    name: Xcode Unit Tests
    runs-on: macos-12
    timeout-minutes: 25
    steps:
    - uses: actions/checkout@master
    - name: Build AuthFoundation
      run: |
        set -o pipefail
        xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme AuthFoundation \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Build OktaDirectAuth
      run: |
        set -o pipefail && xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaDirectAuth \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Build OktaOAuth2
      run: |
        set -o pipefail && xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaOAuth2 \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Build WebAuthenticationUI
      run: |
        set -o pipefail && xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme WebAuthenticationUI \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test AuthFoundation
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme AuthFoundation \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test OktaDirectAuth
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaDirectAuth \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test OktaOAuth2
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaOAuth2 \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test WebAuthenticationUI
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme WebAuthenticationUI \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1

  UITest-WebSignIn:
    name: Web Sign In / Single Sign On (iOS)
    runs-on: macos-12
    timeout-minutes: 20
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test Web Sign In
      run: |
        set -o pipefail && xcodebuild \
            -derivedDataPath ../Build/DerivedData \
            -clonedSourcePackagesDirPath ../Build/ClonedSources \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "WebSignIn (iOS)" \
            -sdk iphonesimulator \
            -destination "$iOS_DESTINATION" \
            test 2>&1
    - name: Test Single Sign In
      run: |
        set -o pipefail && xcodebuild \
            -derivedDataPath ../Build/DerivedData \
            -clonedSourcePackagesDirPath ../Build/ClonedSources \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "SingleSignOn (iOS)" \
            -sdk iphonesimulator \
            -destination "$iOS_DESTINATION" \
            test 2>&1

  UITest-DirectAuthSignIniOS:
    name: Direct Auth Sign In (iOS)
    runs-on: macos-12
    timeout-minutes: 15
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        set -o pipefail && xcodebuild \
            -derivedDataPath ../Build/DerivedData \
            -clonedSourcePackagesDirPath ../Build/ClonedSources \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "DirectAuthSignIn (iOS)" \
            -sdk iphonesimulator \
            -destination "$iOS_DESTINATION" \
            test 2>&1

  UITest-DeviceAuthSignIniOS:
    name: Device Auth Sign In (iOS)
    runs-on: macos-12
    timeout-minutes: 20
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        set -o pipefail && xcodebuild \
            -derivedDataPath ../Build/DerivedData \
            -clonedSourcePackagesDirPath ../Build/ClonedSources \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "DeviceAuthSignIn (iOS)" \
            -sdk iphonesimulator \
            -destination "$iOS_DESTINATION" \
            test 2>&1

  UITest-DeviceAuthSignIntvOS:
    name: Device Auth Sign In (tvOS)
    runs-on: macos-12
    timeout-minutes: 10
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        set -o pipefail && xcodebuild \
            -derivedDataPath ../Build/DerivedData \
            -clonedSourcePackagesDirPath ../Build/ClonedSources \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "DeviceAuthSignIn (tvOS)" \
            -sdk appletvsimulator \
            -destination "$tvOS_DESTINATION" \
            test 2>&1

  UITest-UserPasswordSignInmacOS:
    name: User Password Sign In (macOS)
    runs-on: macos-12
    timeout-minutes: 10
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        set -o pipefail && xcodebuild \
            -derivedDataPath ../Build/DerivedData \
            -clonedSourcePackagesDirPath ../Build/ClonedSources \
            -workspace OktaMobileSDK.xcworkspace \
            -sdk macosx \
            -scheme "UserPasswordSignIn (macOS)" \
            test 2>&1

  UITest-ClassicNativeAuthiOS:
    name: Classic Native Auth (iOS)
    runs-on: macos-12
    timeout-minutes: 20
    needs: 
      - XcodeBuild
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test
      run: |
        set -o pipefail && xcodebuild \
            -derivedDataPath ../Build/DerivedData \
            -clonedSourcePackagesDirPath ../Build/ClonedSources \
            -workspace OktaMobileSDK.xcworkspace \
            -scheme "ClassicNativeAuth (iOS)" \
            -sdk iphonesimulator \
            -destination "$iOS_DESTINATION" \
            test 2>&1
