name: Tests

on:
  push:
    paths:
      - '.github/workflows/tests.yaml'
      - 'Package.swift'
      - 'Sources/**/*.swift'
      - 'Samples/**/*.swift'
      - 'Tests/**/*.swift'
    branches:
      - master
      - release/**
  pull_request:
    branches:
      - master
      - release/**
    paths:
      - '.github/workflows/tests.yaml'
      - 'Package.swift'
      - 'Sources/**/*.swift'
      - 'Samples/**/*.swift'
      - 'Tests/**/*.swift'

env:
  DEVELOPER_DIR: /Applications/Xcode_15.3.app/Contents/Developer
  NSUnbufferedIO: YES 
  iOS_DESTINATION: "platform=iOS Simulator,OS=17.4,name=iPhone 15 Pro Max"
  tvOS_DESTINATION: "platform=tvOS Simulator,OS=17.4,name=Apple TV"

jobs:
  SwiftBuild:
    name: Swift Unit Tests
    runs-on: macos-latest-large
    timeout-minutes: 10
    steps:
    - name: Get swift version
      run: swift --version
    - uses: actions/checkout@master
    - name: Build
      run: swift build --build-tests
    - name: Test
      run: swift test --parallel

  Cocoapods:
    name: CocoaPods Build
    runs-on: macos-latest-large
    timeout-minutes: 10
    needs:
      - SwiftBuild
    steps:
    - uses: actions/checkout@master
    - name: OktaAuthFoundation.podspec
      run: pod lib lint --allow-warnings OktaAuthFoundation.podspec
    # TODO: Enable dependent podspec linting once unreleased local spec version checking is fixed.
    #- name: OktaOAuth2.podspec
    #  run: pod lib lint --allow-warnings OktaOAuth2.podspec
    #- name: OktaDirectAuth.podspec
    #  run: pod lib lint --allow-warnings OktaDirectAuth.podspec
    #- name: OktaWebAuthenticationUI.podspec
    #  run: pod lib lint --allow-warnings OktaWebAuthenticationUI.podspec

  XcodeBuild:
    name: Xcode Unit Tests
    runs-on: macos-latest-large
    timeout-minutes: 25
    steps:
    - uses: actions/checkout@master
    - name: Build AuthFoundation
      run: |
        set -o pipefail
        xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme AuthFoundation \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Build OktaDirectAuth
      run: |
        set -o pipefail && xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaDirectAuth \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Build OktaOAuth2
      run: |
        set -o pipefail && xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaOAuth2 \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Build WebAuthenticationUI
      run: |
        set -o pipefail && xcodebuild build \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme WebAuthenticationUI \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test AuthFoundation
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme AuthFoundation \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test OktaDirectAuth
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaDirectAuth \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test OktaOAuth2
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme OktaOAuth2 \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
    - name: Test WebAuthenticationUI
      run: |
        set -o pipefail && xcodebuild test \
          -derivedDataPath ../Build/DerivedData \
          -clonedSourcePackagesDirPath ../Build/ClonedSources \
          -scheme WebAuthenticationUI \
          -sdk iphonesimulator \
          -destination "$iOS_DESTINATION" 2>&1
