name: UI Tests

on:
  workflow_run:
    workflows: ["Unit Tests"]
    types:
      - completed

env:
  DEVELOPER_DIR: /Applications/Xcode_13.3.app/Contents/Developer

jobs:
  UITest-EmbeddedAuth:
    name: Embedded Auth (iOS)
    runs-on: macos-12
    timeout-minutes: 10
    if: ${{ github.event.workflow_run.conclusion == 'success' && secrets.TEST_OKTA_PLIST && secrets.TEST_CONFIGURATION }}
    steps:
    - uses: actions/checkout@master
    - uses: ./.github/actions/setup-secrets
      with:
        okta_plist: "${{ secrets.TEST_OKTA_PLIST }}"
        test_configuration: "${{ secrets.TEST_CONFIGURATION }}"
    - name: Test Embedded Auth
      run: |
        xcodebuild \
            -derivedDataPath ~/Build/DerivedData \
            -clonedSourcePackagesDirPath ~/Build/ClonedSources \
            -workspace OktaIdx.xcworkspace \
            -scheme "EmbeddedAuth" \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.4' \
            test
